@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: #000000;
}

.clock-face {
    background-image: url(../images/clock-face.svg);
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.hand-hour {
    position: absolute;
    width: 14px;
    left: calc(50% - 7px);
    bottom: 50%;
    transition: all 5000ms linear;
    transform-origin: center bottom;
}

.hand-minute {
    position: absolute;
    width: 14px;
    left: calc(50% - 7px);
    bottom: 50%;
    transition: all 5000ms linear;
    transform-origin: center bottom;
}

.center {
    position: absolute;
    width: 28px;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
}

.clock-face:target .hand-hour {
        transform: rotate(360deg);
}

.clock-face:target .hand-minute {
        transform: rotate(4320deg);
}

.button-forwards {
    background-color: #339900;
    width: 6em;
    line-height: 6em;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 1em;
    transition: color 1000ms linear;
}

.button-backwards {
    background-color: #ff0000;
    width: 6em;
    line-height: 6em;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 1em;
    transition: color 1000ms linear;
}

.button-forwards:hover {
    background-color: #fff;
    color: #000;
}

.button-backwards:hover {
    background-color: #fff;
    color: #000;
}

.centered {
    text-align: center;
}
